extends layout
block content
	h1 Update a link
	div
		#content
			form(name="update", action='/links/#{_id}', method="post")
				input(type="hidden" name="_method" value="put")
				input(type="text" id="name" name="name" value="#{name}")
				input(type="text" id="url" name="url" value="#{url}")
				input(type="hidden" id="id" name="id" value="#{id}")
				input(type="submit" value="Update Link")
			#result