extends layout

block content
	h1= title
	p Create a new link: 
		a(href="/links/new") New Link
	p The current links are: 
	ul
	- for link in links
		li
			a(href=link.url)= link.name 
			= " "
			form(name="edit", action="/links/#{link.id}/edit")
				input(type="submit", value="Edit")
			form(name="delete", action="/links/#{link.id}", method="post")
				input(type="hidden" name="_method" value="delete")
				input(type="submit", value="Delete")