html(lang="en")
	head
		title= title
	body
		h1 Create a new Link
	div
		form(name="links", action="/links", method="post")
			input(type="text", name="name" value="Enter Name")
			input(type="text", name="url" value="Enter URL")
			input(type="hidden", name="id" value=links.length)
			input(type="submit", value="Create Link")