extends layout

block content
	h1= title
	p View all links: 
		a(href="/links") View all links
	p The link you have created/modified is: 
	ul
		li
			a(href=url)= name
			= " "
			form(name="edit", action="/links/#{id}/edit")
				input(type="submit", value="Edit")
